@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');
.App {
  display: flex;
  justify-content: center;
  height: fit-content;
  align-items: center;
}
.box {
  height: 200px;
  width: 300px;
  margin-top: 150px;
  border-radius: 10px;
  background: #e77474;
  box-shadow:  25px 25px 50px #bebebe,
             -25px -25px 50px #ffffff;
}
.boxx {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  text-align: center;
}
.location {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}